
# Workspace files are user-specific
*.sublime-workspace

# I need to find a way to automatically remove this
Source/Geode/pkg/uber-apk-signer.jar

# Ignore build folders
**/build

# ILY vscode
**/.vscode
